<div class="border-end border-warning h-100 border-image">
    <div class="text-center">
     <img src="/images/shubham.jpg" alt="" class="img-fluid rounded-circle mt-5">
     <h6 class="text-white mt-3 google-font">SHUBHAM RANA</h6>
    </div>
      <nav class="nav flex-column text-center mt-4 google-font">
           <a href="/" class="nav-link text-white <% if(page_name == 'Home') { %>
                 active<% } %> ">Home</a>
           <a href="/service" class="nav-link text-white <% if(page_name == 'Service') { %>
            active<% } %>">Services</a>
           <a href="/skills" class="nav-link text-white <% if(page_name == 'Skills') { %>
            active<% } %>">Skills</a>
           <a href="/contact" class="nav-link text-white <% if(page_name == 'Contact') { %>
            active<% } %>">Contact</a>
        </nav>
          </div>