
<%-include('./partials/header.ejs')%> 
<div class="container-fluid bg-dark ">
     <div class="row">
          <div class="col-sm-2">             
<%-include('./partials/sidebar.ejs',{page_name: 'Home'})%> 
          </div>
          <div class="col-sm-10">
             <div class="mt-4">
                <div class="text-center">
                    <img src="/images/shubham.jpg" alt="" class="img-thumbnail"
                     width="210px" height="110px" >
                </div>
                <div class="mt-5 text-white text-justify mx-5">
                        <h4 class="fw-bold google-font">Hello</h4>
                <div class="para-style"><p>I am <b class="text-warning">Shubham Rana .</b>
                   I live in Thana Bhawan distt Shamli uttar pradesh.And I am complete <b class="text-warning">BCA
                      (Bachelor computer application)</b>
                    It is a complete affiliated university Chaudhary charan singh 
                    university.I a <b class="text-warning">FULL STACK DEVELOPER</b>
                    And I have been persuing <b class="text-warning">MCA(master computer Application)</b>
                    and affiliated university is UP Technical University Lucknow.and my father is farmer And
                    my mother is house wife is the eldr sister.And my Technogy is a <b class="text-warning">WEB DEVELOPER</b>
                    </p>
               </div>
                </div>
             </div> 
             <div class="text-center">
                 <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire me</a>
                 <a href="/contact" class="btn btn-outline-info">Contact</a>

             </div>      
          </div>
     </div>
   </div>

<%-include('./partials/footer.ejs')%>