<%-include('./partials/header.ejs')%> 
<div class="container-fluid bg-dark">
    <div class="row">
         <div class="col-sm-2">             
<%-include('./partials/sidebar.ejs',{page_name: 'Service'})%> 
         </div>
         <div class="col-sm-10">
           <div class="container mt-5">
                <div class="row text-white text-center">
                     <div class="col-sm-4">
                          <i class="fas fa-search-dollar fa-2x text-warning"></i>
                          <h6 class="text-info">SEO</h6>
                          <p class="para-service">In the seo of the company and the reputed is a doolar</p>
                     </div>
                     <div class="col-sm-4">
                        <i class="fas fa-palette fa-2x text-warning"></i>
                        <h6 class="text-info">Design</h6>
                        <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
                   </div>
                   <div class="col-sm-4">
                    <i class="fas fa-code fa-2x text-warning"></i>
                    <h6 class="text-info">Code</h6>
                    <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
               </div>
                </div>
                <div class="row text-white text-center mt-5">
                    <div class="col-sm-4">
                         <i class="fab fa-android fa-2x text-warning"></i>
                         <h6 class="text-info">Android</h6>
                         <p class="para-service">In the seo of the company and the reputed is a doolar</p>
                    </div>
                    <div class="col-sm-4">
                       <i class="fas fa-database fa-2x text-warning"></i>
                       <h6  class="text-info">Database</h6>
                       <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
                  </div>
                  <div class="col-sm-4">
                   <i class="fab fa-apple fa-2x text-warning"></i>
                   <h6 class="text-info">ios</h6>
                   <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
              </div>
               </div>
               <div class="row text-white text-center mt-5">
                <div class="col-sm-4">
                     <i class="fas fa-pencil-alt fa-2x text-warning"></i>
                     <h6>Tools</h6>
                     <p class="para-service">In the seo of the company and the reputed is a doolar</p>
                </div>
                <div class="col-sm-4">
                   <i class="fas fa-headset fa-2x text-warning"></i>
                   <h6 class="text-info">Heading</h6>
                   <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
              </div>
              <div class="col-sm-4">
                 <i class="far fa-address-card fa-2x text-warning"></i>
               <h6 class="text-info">Card</h6>
               <p class="para-service">Lorem, ipsum dolor sit amet n the seo of</p>
          </div>
           </div>
           </div>     
         </div>
    </div>
  </div>

    <%-include('./partials/footer.ejs')%>
