<%-include('./partials/header.ejs')%> 
<div class="container-fluid bg-dark">
    <div class="row">
         <div class="col-sm-2">             
<%-include('./partials/sidebar.ejs',{page_name: 'Skills'})%> 
         </div>
         <div class="col-sm-10">
          <div class="container mt-5">
                <h1 class="text-warning google-font">Skills</h1>
                <hr class="text-white border-warning">
                 <div class="row my-5 mb-3 ">
                        <div class="col-sm-6">
                         <h6 class="text-warning">HTML/CSS</h6>
                              <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="70%" style="width:70%">70%
                                   </div>
                              </div>
                        </div> 

                        <div class="col-sm-6">
                         <h6 class="text-info">JAVA SCRIPT</h6>
                              <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100%" style="width:60%">60%
                                   </div>
                              </div>
                        </div> 
                 </div>


                 <div class="row my-5 ">
                    <div class="col-sm-6">
                     <h6 class="text-danger">BOOTSTRAP</h6>
                          <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="70%" style="width:80%">80%
                               </div>
                          </div>
                    </div> 

                    <div class="col-sm-6">
                     <h6 class="text-success">REACT JS</h6>
                          <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100%" style="width:65%">65%
                               </div>
                          </div>
                    </div> 
             </div>


             <div class="row my-5">
               <div class="col-sm-6">
                <h6 class="text-info">JQUERY</h6>
                     <div class="progress">
                           <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="70%" style="width:60%">65%
                          </div>
                     </div>
               </div> 

               <div class="col-sm-6">
                <h6 class="text-warning">NODE JS</h6>
                     <div class="progress">
                           <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100%" style="width:95%">95%
                          </div>
                     </div>
               </div> 
        </div>


        <div class="row my-5 ">
          <div class="col-sm-6">
           <h6 class="text-white">EXPRESS JS</h6>
                <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="70%" style="width:85%">85%
                     </div>
                </div>
          </div> 

          <div class="col-sm-6">
           <h6 class="text-success">MONGO DB</h6>
                <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100%" style="width:80%">80%
                     </div>
                </div>
          </div> 
   </div>
          </div>
               
         </div>
    </div>
  </div>

<%-include('./partials/footer.ejs')%>
  